{% extends 'backend_site/base.html' %}

{% block title %} RTCD {% endblock %}

{% block user_image %}{{ data.image }}{% endblock %}
{% block username %}{{ data.name }}{% endblock %}

{%block css%}

  <style>
    .show_video_images {
        max-width: 80% !important;
        margin-top: 0px !important;
    }
    .video-div {
        text-align: center;
        margin-bottom: 20px;
    }
    .suspect_img {
      width: 90%; 
      margin: 10px;
      cursor: pointer;
      border-radius: 2px;
    }
    .suspect_img:hover, .select_border:hover{
      margin: 0px;
      width: 120%;
    }
    .select_border {
      border: 2px solid red;
      width: 120%; 
      margin: 3px;
      cursor: pointer;
      border-radius: 2px;
    }

  </style>

{%endblock%}



{% block body %}
{% load static %}


{% block user_complain %}{{ all_sus }}{% endblock %}
{% block c_register %}{{ r_sus }}{% endblock %}
{% block c_anonymous %}{{ a_sus }}{% endblock %}
{% block track_suspect %}{% endblock %}

   <div class="content-wrapper">
      <section class="content-header">
         <div class="container-fluid">

            <!-- `````````````````````````````````````````````````````````````````````````` -->
                                       <!-- Heading Section -->
             <!-- `````````````````````````````````````````````````````````````````````````` -->


            <section class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1>{{title}}</h1>
                    </div>
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">{{sub_title}}</li>
                      </ol>
                    </div>
                  </div>
                </div><!-- /.container-fluid -->
              </section>


              <!-- `````````````````````````````````````````````````````````````````````````` -->
                                       <!-- Tables section -->
             <!-- `````````````````````````````````````````````````````````````````````````` -->

             <section class="content-header">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">


                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Detail information</h3>
                            </div>
                            <!-- /.card-header -->
                                <div class="row p-3">
                                  <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                      <thead>
                                        <tr role="row">
                                          <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Report Data</th>
                                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Upload Video Description</th>
                                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody> 
                                        {% for val in all_suspect %}
                                    
                                          <tr role="row" class="odd">
                                            <td>{{ val.report_date }}</td>
                                            <td>{{ val.description }}</td>
                                            <td>
                                              <button onclick="showVideoModal('{{val.video_url}}', '{{val.id}}')" class="btn btn-outline-success img-btn">Process for Approved</button>
                                              <button onclick="delete_complain({{val.id}})" class="btn btn-outline-danger img-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
  
                                            </td>
                                          </tr>

                                        {% endfor %}
                                      
                                      </tbody>
                                      <tfoot>
                                      <tr><th rowspan="1" colspan="1">Report Data</th><th rowspan="1" colspan="1">Upload Video Description</th><th rowspan="1" colspan="1">Action</th></tr>
                                      </tfoot>
                                    </table>
                            </div>
                          </div>
                         

                      </div>
                </div>
             </section>

             <!-- Modal -->
              <div class="modal fade" id="modal_video_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog show_video_images" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Choose Suspect</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                        <div class="modal-body">
                          <div class="container video-div">
                            <video width="500" id="videoSrc" controls>
                              <source src="" type="video/mp4">
                              <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
                              Your browser does not support HTML video.
                            </video>
                          </div>

                          <div class="col-12" id="img_counter" style="margin-left: 10px; color: red">
                            <h5>Selected Images 5/<span id="img_counter_no">0</span></h5>
                          </div>

                          <div class="col-12" style="text-align: center;">
                            <img src="/media/backend_site/loader.gif" style="width: 50px" id="loader" alt="">
                          </div>
                          
                          <div class="container">
                            <div class="row" id="image_list">
                            
                              <!-- Images are show using js function here -->
                              
                            </div>
                          </div>

                          <span style="display: none;" id="video_attr_id"></span>
                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button id="cABtn" onclick="approvedComplain()" type="button" class="btn btn-primary" disabled>Approved</button>
                    </div>
                  </div>
                </div>
              </div>

        </div>     
      </section>
   </div>

{% endblock %}

{%block js%}
<!-- DataTables -->
<script src="{% static '/backend_site/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/backend_site/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/backend_site/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '/backend_site/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  let select_imgs_name = [];
  let selected_img = 0

  const approvedComplain = ()=> {
    id = document.getElementById('video_attr_id').innerHTML
    // img_url = document.getElementById('videoSrc').src
    if (confirm("You really want to Add this Suspect?")){
      $.ajax({
        url: '/controller/addSuspect/',
        data: {
          'imgs_arr': JSON.stringify({'imgs' : select_imgs_name}),
          // 'img_url': img_url,
          'attr_id': id,
          'selector': 1
        },
        dataType: 'json',
        success: function (data) {
          alert(data.msg)
          location.reload()
        }
      });
    }
    
  }

  const delete_complain = (id)=>{
    if (confirm("You really want to delete this")){
      $.ajax({
        url: '/controller/deleteComplain/',
        data: {
          'id': id,
          'selector': 1
        },
        dataType: 'json',
        success: function (data) {
          alert(data.msg)
          location.reload()
        }
      });
    }
  }

  const img_div_tag = (img, path)=> {
    main_container = document.getElementById('image_list')
    img_div = document.createElement('div')
    img_div.setAttribute('class', 'col-1')
    img_tag = document.createElement('img')
    img_tag.setAttribute('class', 'suspect_img')
    img_tag.setAttribute('src', `/media/video_images/${path}/${img}`)
    img_tag.setAttribute('id', img)
    img_tag.setAttribute('onclick', `select_img(id)`)
    img_div.appendChild(img_tag)
    main_container.appendChild(img_div)
  } 

  const show_faces = data=> {
    document.getElementById('img_counter').style.display = ""
    document.getElementById('loader').style.display = "none"
    data.images.map(v => {
      img_div_tag(v, data.path)
    })
  }

  const scanVideo = url=> {
    $.ajax({
        url: '/controller/extractFaces/',
        data: {
          'url': url
        },
        dataType: 'json',
        success: function (data) {
          show_faces(data)
        }
      });
  }

  const showVideoModal = (url, id)=> {
    document.getElementById('video_attr_id').innerHTML = id
    document.getElementById('cABtn').disabled = true
    const videoSrc = document.getElementById('videoSrc')
    videoSrc.src = url
    videoSrc.load()

    main_div = document.getElementById('image_list')
    while (main_div.firstChild) {
      main_div.removeChild(main_div.lastChild);
    }

    document.getElementById('img_counter').style.display = "none"
    document.getElementById('loader').style.display = ""
    $('#modal_video_show').modal('show')

    scanVideo(url)
  }

  const select_img = id=> {
    let img = document.getElementById(id)
    
    if (img.getAttribute('class') == 'suspect_img') {
      if (selected_img < 5){
        img.setAttribute('class', 'select_border') 
        select_imgs_name.push(id)
        selected_img += 1
        document.getElementById('img_counter_no').innerHTML = selected_img
      }
    }
    else {
      img.setAttribute('class', 'suspect_img') 
      select_imgs_name = select_imgs_name.filter(item=> item !== id)
      selected_img -= 1
      document.getElementById('img_counter_no').innerHTML = selected_img   
    }   

    if (selected_img > 0) {
    document.getElementById('cABtn').disabled = false
    }
    else{
      document.getElementById('cABtn').disabled = true
    } 
  }

  </script>
{%endblock%}