{% extends 'backend_site/base.html' %}

{% block title %} RTCD {% endblock %}

{% block user_image %}{{ data.image }}{% endblock %}
{% block username %}{{ data.name }}{% endblock %}

{%block css%}

  <style>
    .show_video_images {
        max-width: 80% !important;
        margin-top: 0px !important;
    }
    .video-div {
        text-align: center;
        margin-bottom: 20px;
    }
    .suspect_img {
      width: 90%; 
      margin: 10px;
      cursor: pointer;
    }
    .suspect_img:hover{
      width: 100%;
    }

  </style>

{%endblock%}

{% block body %}
{% load static %}

{% block user_complain %}{{ all_sus }}{% endblock %}
{% block c_register %}{{ r_sus }}{% endblock %}
{% block c_anonymous %}{{ a_sus }}{% endblock %}
{% block track_suspect %}{% endblock %}

   <div class="content-wrapper">
      <section class="content-header">
         <div class="container-fluid">

            <!-- `````````````````````````````````````````````````````````````````````````` -->
                                       <!-- Heading Section -->
             <!-- `````````````````````````````````````````````````````````````````````````` -->


            <section class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1>{{title}}</h1>
                    </div>
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">{{sub_title}}</li>
                      </ol>
                    </div>
                  </div>
                </div><!-- /.container-fluid -->
              </section>


              <!-- `````````````````````````````````````````````````````````````````````````` -->
                                       <!-- Tables section -->
             <!-- `````````````````````````````````````````````````````````````````````````` -->

             <section class="content-header">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">


                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Detail information</h3>
                            </div>
                            <!-- /.card-header -->
                                <div class="row p-3">
                                  <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                      <thead>
                                        <tr role="row">
                                          <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Appuser Id</th>
                                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Appuser Cnic</th>
                                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Upload Video Description</th>
                                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody> 
                                        {% for val in all_suspect %}
                                    
                                          <tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1">{{ val.user_id.id }}</td>
                                            <td>{{ val.user_id.cnic }}</td>
                                            <td>{{ val.description }}</td>
                                            <td><button class="btn btn-outline-success img-btn" onclick="showVideoModal('{{val.video_url}}')">Process for Approved</button></td>
                                          </tr>
                                          
                                        {% endfor %}
                                      
                                      </tbody>
                                      <tfoot>
                                      <tr><th rowspan="1" colspan="1">AppUser id</th><th rowspan="1" colspan="1">AppUser Cnic</th><th rowspan="1" colspan="1">Upload Video Description</th><th rowspan="1" colspan="1">Action</th></tr>
                                      </tfoot>
                                    </table>
                            </div>
                          </div>
                         

                      </div>
                </div>
             </section>


              <!-- Modal -->
              <div class="modal fade" id="modal_video_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog show_video_images" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Choose Suspect</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                        <div class="modal-body">
                          <div class="container video-div">
                            <video width="500" id="videoSrc" controls>
                              <source src="" type="video/mp4">
                              <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
                              Your browser does not support HTML video.
                            </video>
                          </div>
                          
                          <div class="container">
                            <div class="row">

                              <div class="col-12" style="text-align: center;">
                                <button id="detectFace" class="btn btn-outline-danger">
                                  Detect Faces
                                </button>
                              </div>

                              <div class="col-2"> 
                                <img class="suspect_img" src="/media/suspect_images/52-suspect.jpg" alt="">
                              </div>
                              
                            </div>
                          </div>
                          
                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Approved</button>
                    </div>
                  </div>
                </div>
              </div>



        </div>     
      </section>
   </div>

{% endblock %}

{%block js%}
<!-- DataTables -->
<script src="{% static '/backend_site/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/backend_site/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/backend_site/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '/backend_site/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  const showVideoModal = url=> {
    const videoSrc = document.getElementById('videoSrc')
    videoSrc.src = url
    videoSrc.load()

    const detectBtn = document.getElementById("detectFace")
    detectBtn.setAttribute("onclick", `scanVideo('${url}')`)

    $('#modal_video_show').modal('show')
  }

  const scanVideo = url=> {
    $.ajax({
        url: '/controller/checkAjax/',
        data: {
          'url': url
        },
        dataType: 'json',
        success: function (data) {
          console.log(data)
        }
      });
  }
  </script>
{%endblock%}